<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Exercise Suite 1" parallel="false">

  <test name="WebDriver">
  
  	<classes>
  		<class name="exercise1.OpenChromeBrowser" />
  		<class name="exercise1.OpenMozillaBrowser" />
  	</classes>
  </test>
 
  <test name="AgodaTestFolderChrome" >
  <parameter name="URL" value="https://wwww.agoda.com"/>
  	<classes>
  		<class name="exercise2.AgodaTestExercise1"></class>
  		<class name="exercise2.AgodaTestExercise2" />
  		<class name="exercise2.AgodaTestExercise3" />
  	</classes>
  </test>
 
</suite> <!-- Suite -->

	


