<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Exercise Suite 1">

  <test name="WebDriver">
  	<classes>
  		<class name="exercise1.OpenChromeBrowser" />
  		<class name="exercise1.OpenMozillaBrowser" />
  	</classes>
  </test> 
 
  <test name="AgodaTestFolderChrome" >
  	<classes>
  		<class name="exercise2.AgodaTestExercise1"></class>
  		<class name="exercise2.AgodaTestExercise2" />
  	</classes>
  </test>
 
</suite> <!-- Suite -->

	


